/* G E N E R A L */
/* H E A D E R */
/* C U E R P O  P R I N C I P A L */
/* F O O T E R */
.footer {
  background-color: ;
  display: flex;
  align-items: space-around;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.footer a {
  color:white;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}

/* M E D I A  Q U E R Y S */
