/* G E N E R A L */
/* H E A D E R */
.header {
    display: flex;
    background-color: #003554 ;
    width: 100%;
    height: 80px;
    justify-content:space-between;
    align-items: center;
}
.header__img {
    width: 150px;
    margin-left: 24px;
    order: 0;
}
.header__menu{
    margin-right: 30px;
    order: 2;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
  }
.header__menu:hover ul, ul:hover {
  display: block;
  z-index: 1;
}
.header__menu li {
    margin: 10px 0px;
  }
.header__menu li a {
    color: white;
    text-decoration: none;
  }
.header__menu li a:hover {
    text-decoration: underline;
  }
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p {
    margin: 0px;
    color: white;
}
/* C U E R P O  P R I N C I P A L */
/* F O O T E R */
.footer {
  background-color: ;
  display: flex;
  align-items: space-around;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.footer a {
  color:white;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
/* M E D I A  Q U E R Y S */
